<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <h1 class="main-title">
        zomato <span class="sub-title-bold">BANGALORE</span>
    </h1>
    <h2 class="script-sub">restaurant analysis</h2>

    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
        <a href="dashboard_stats.html" class="home-card">
            <img src="../static/images/dashboard.jpg" alt="Dashboard Image">
            <div class="card-label">DASHBOARD</div>
        </a>

        <a href="predictor.html" class="home-card">
            <img src="../static/images/rating predictor.jpg" alt="Predictor Image">
            <div class="card-label">RATING<br>PREDICTOR</div>
        </a>

        <a href="https://www.kaggle.com/datasets/himanshupoddar/zomato-bangalore-restaurants" class="home-card" target="_blank">
            <img src="../static/images/view data.jpg" alt="View Data">
            <div class="card-label">VIEW DATA</div>
        </a>
    </div>

    <div class="footer-tag">
        designed by syeda wajiha hassan<br>
        k242509@nu.edu.pk
    </div>
</body>

</html>
